<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8" />
    <link href="~/css/default.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/bootstrapcss/bootstrap.min.css" rel="stylesheet" />
    <title> Hannah Smith's First ASP.NET Website</title>
    <!--Add personal favicon-->
    <link rel="shortcut icon" type="image/x-icon" href="~/img/flowerFavicon.png" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/jquery-3.6.3.min.js"></script>
</body>


</html>
