@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Grade Calulator HomePage";

}

<!--About me section -->

    <div class="jumbotron text-center lavender-bg">
        <h1>Hannah Smith's First ASP.NET Website </h1>
    </div>
    <nav>
        <a asp-controller="Blah" asp-action="Index">Home</a>
        <a asp-controller="Blah" asp-action="gradeCalc">Grade Calculator</a>
    </nav>
    <img src="img/Screen Shot 2023-01-30 at 6.18.56 PM.png" />
    <h4>Prefered Name: Hannah Smith</h4>
    <p>
        I hope that IS 413 will help me gain a greater understanding of how frameworks such
        as ASP.NET can be used to accelerate and enhance the learning process. I also hope that
        this class will help me become a better programmer and learn how to take on unfamililar coding languages.
    </p>

    <h4> Top 3 Jobs I Want to Pursue Upon Graduation: </h4>
    <ul>
        <li> 1. Artificial Intelligence Specialist  </li>
        <li> 2. Tech Consultant  </li>
        <li> 3. User Experience Designer   </li>

    </ul>
   
  
